<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Bestreads app</title>

    <!-- Bootstrap core CSS -->
    <link href="bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="cover.css" rel="stylesheet">
  </head>

  <body class="text-center">

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">Bestreads app</h3>
        </div>
      </header>

      <main role="main" class="inner cover">
        <h1 class="cover-heading">Done!</h1>
        <p class="lead">We got your REY identity and your Goodreads account into Bestreads.</p>
        <p class="lead">You can now launch the <a href="http://reputation.network/apps">REY app</a> to view your data.</p>
      </main>

      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p><a target="_blank" href="http://github.com/reputation-network/rey-example-bestreads">View source code</a></p>
        </div>
      </footer>
    </div>
  </body>
</html>

